<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Perfil</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>

    {{ template "header"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">
                            Perfil
                        </h5>
                        <h6 class="card-subtitle mb-2 text-mut">
                            {{ .Name }} - Membro desde {{ .RegDate.Format "02/01/2006" }}
                        </h6>

                        <p class="card-text">
                            <a href="#" data-toggle="modal" data-target="#modal-followers">
                                Seguidores: {{ len .Followers }}
                            </a>
                        </p>

                        <p class="card-text">
                            <a href="#" data-toggle="modal" data-target="#modal-following">
                                Seguindo: {{ len .Following }}
                            </a>
                        </p>

                        <div class="row">
                            <div class="col-12">
                                <a href="/edit-user" class="card-link">
                                    <button class="btn btn-info">Editar Usuário</button>
                                </a>
                            
                                <a href="/update-pass" class="card-link">
                                    <button class="btn btn-info">Atualizar Senha</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Minhas Publicações</h5>
                    <p class="card-text">
                        {{ range .Posts }}
                        {{ template "posts-allowed" . }}
                        {{ else }}
                    <p class="text-muted text-center">
                        Sem Publicações
                    </p>
                    {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {{ template "modal-followers" . }}
    {{ template "modal-following" . }}
    
    {{ template "footer"}}
    {{ template "scripts"}}

    <script src="/assets/js/posts.js"></script>
    <script src="/assets/js/user.js"></script>
</body>

</html>